{% extends 'layout.html.twig' %}



{% block title %}
    Page Categories
{% endblock %}



{% block content %}
<section>
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
            <a href="/cat/delete/{{ category.id }}">Delete</a>
        {% endfor %}
    </ul>

</section>

{% endblock %}