{% extends 'layout.html.twig' %}


{% block title %}
    Delete items
{% endblock %}


{% block content %}
    <section>
        <h2>Supprimer un Item</h2>
        <form action="" method="post">

            <p><input type="submit" name="title" value="supprimer"></p>
        </form>


    </section>
{% endblock %}
