{% extends 'layout.html.twig' %}


{% block title %}
    Update items
{% endblock %}


{% block content %}
    <section>
        <h2>Modifier un Item</h2>
        <form action="" method="post">
            <p><input type="text" name="title" value="{{ item.title }}"></p>
            <p><button type="submit" name="Modifier" value="">Modifier</p>
        </form>


    </section>
{% endblock %}
