{% extends 'layout.html.twig' %}



{% block title %}
Page items
{% endblock %}


{% block content %}
<section>
    <h1>Les items</h1>
    <ul>
        {% for item in items %}
            <li>{{ item.title }}</li>
            <a href="/item/delete/{{ item.id }}">Delete</a>
            <a href="/item/edit/{{ item.id }}">Update</a>
        {% endfor %}
    </ul>
</section>
{% endblock %}
